* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7FFF7;
}

main {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    height: 60vh;
}

.calculator {
    background-color: #A6A6A8;
    width: 380px;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.screen {
    background-color: #B1E5F2;
    color: black;
    width: 100%;
    border-radius: 10px;
    text-align: right;
    font-size: 2rem;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-grow: 1;
}

.clearButtons {
    display: flex;
    gap: 15px;
}

.clear,
.backspace {
    padding: 14px 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: scale 0.2s;
}

.clearButtons button:hover {
    scale: 1.05;
}

.backspace {
    background-image: url(./images/backspace.png);
    background-position: center;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
}

.numpad button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272635;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px 25px;
    transition: scale 0.2s, background-color 0.2s ease-in, color 0.2s;
}

.numpad button:hover {
    scale: 1.1;
}

.number:hover {
    background-color: ivory;
    color: #272635;
}

.dot:hover {
    background-color: ivory;
    color: #272635;
}


.numpad .operation:hover {
    background-color: rgb(185, 185, 0);
}

.numpad .equale:hover {
    background-color: rgb(168, 233, 70);
}