* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7FFF7;
}

main {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: #A6A6A8;
    width: 380px;
    height: 550px;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.screen {
    background-color: #B1E5F2;
    color: black;
    width: 100%;
    height: 200px;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
    font-size: 2rem;
    display: flex;
    justify-content: end;
    align-items: end;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
}

.number,
.operation,
.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272635;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px 25px;
    transition: background-color 0.5s ease-in, color 0.5s;
}

.numpad button {
    scale: 1;
    transition: scale 0.3s ease-out
}

.numpad button:hover {
    scale: 1.1;
}

.number:hover {
    background-color: ivory;
    color: #272635;
}

.dot:hover {
    background-color: ivory;
    color: #272635;
}